.container{
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	#width:100%;
	width:360px;
	height:640px;
	background-color:#888888;
}
.row{
	margin-right:0px;
	margin-left:0px;
}
.mapcover{
	height:50%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:transparent;
}
.top_menu{
	height:50px;
	width:100%;
	position:absolute;
	top:-50px;
	left:0px;
	background-color:rgba(51,51,51,0.8);
	-webkit-transition: top 0.75s ease;
	transition: top 0.75s ease;
	z-index:999;
}
.top_menu.show{
	top:0px;
}
.mapdiv{
	height:50%;
	width:100%;
}
.carousel{
	height:50%;
	width:100%;
	margin:0px 0 0px;
	padding-left:0px;
	padding-right:0px;
}
.marker{
  width: 100px;
  height: 100px;
  background: url("/static/xtcpd/img/anim.png") no-repeat scroll 0% 0% transparent;
}
.marker80 {
	width: 18px;height: 18px;border-radius: 9px;opacity:1.0;
	border: 5px solid #0000AA;
	background-color: #00EEFF;
}
.marker_default {
	width: 8px;height: 8px;border-radius: 4px;opacity:1.0;
	border: 3px solid #00FF00;
	background-color: #FFFF00;
}
.marker_default_hilite{
	border:5px solid #FF0000;
}
.led{
	background-color:green;
	height:100%;
	border:solid 1px black;
}
.off{
	background-color:gray;
}
.w100{
	width:100%;
}
a{
	text-decoration:none;
	font-weight:normal;
	color:#FFF;
	font-size:10pt;
	cursor:pointer;
}
a:hover{
	text-decoration:none;
	font-weight:bold;
	color:#FE0;
	font-size:11pt;
	cursor:pointer;
}
.mybutton{
	width:100%;
	height:100%;
}
.ol-attribution{
	display:none;
}
#myselectra{
	width:100%;
	#height:100%;
	background-color:#FFFFFF;
}
#selectra{
	overflow:auto;
}
#selectra2{
	overflow:auto;
}
#spectra_status{
	width:100%;
	background-color:CCDDAA;
	color:navy;
	font-weight:bold;
}
#clients_status{
	width:100%;
	background-color:CCDDAA;
	color:navy;
	font-weight:bold;
}
#xpopup{
  font-family:Pacifico;
  font-size:12pt;
  padding:10px;
  color:#f5f5f5;
	background-color:rgba(51,51,51,0.7);
  text-align:center;
  border-radius:2px;
}
.example1 {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.example1 h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
