.d1pts{radius:1;stroke-width:0;stroke:#444444;fill:#FFCC00;}
.d2pts{radius:1;stroke-width:0;stroke:#444444;fill:#00FF00;}
.d3pts{radius:1;stroke-width:0;stroke:#444444;fill:#FFCC00;}
.d4pts{radius:1;stroke-width:0;stroke:#444444;fill:#00FF00;}

path {
	stroke-width: 2;
	fill: none;
}
path:hover {
  stroke: orangered ;
}

.wlan0_RX {stroke: #FFCC00;}
.wlan0_TX {stroke: #00FF00;}
.wlan1_RX {stroke: #FFCC00;}
.wlan1_TX {stroke: #00FF00;}
.title{
	stroke:#fff;
	fill:#fff;
}
.axis_label{
	stroke:#fff;
	fill:#fff;
}
.x.axis,
.x.axis path,
.x.axis line {
  fill: none;
  stroke: #FFF;
	stroke-width:1;
  shape-rendering: crispEdges;
	text-shadow:none;
}
