<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="/static/lanwatch/css/lanwatch.css">
<link rel="stylesheet" href="/static/lanwatch/css/jquery.mobile-1.4.4.css">
<link rel="stylesheet" href="http://openlayers.org/en/v3.6.0/css/ol.css" type="text/css">

<script src="http://openlayers.org/en/v3.6.0/build/ol.js" type="text/javascript"></script>
<script src="/static/lanwatch/js/jquery.js"></script>
<script src="/static/lanwatch/js/jquery.mobile-1.4.4.js"></script>
<script src="/static/lanwatch/js/spectra.js"></script>
<script src="/static/lanwatch/js/traffic.js"></script>
<script src="/static/lanwatch/js/memory.js"></script>
<script src="/static/lanwatch/js/lanwatch_config.js"></script>

<script type="text/javascript">
var LAYOUT=null;
var RUNNING=false;
var MAPLOCKED=true;
var LHS_EXPANDED=false;
var APACHE_EXPANDED=false;

var THE_MAP=null;
var APACHE_DATA=new Array();
var TRAFFIC_DATA=new Array();
var DJANGO_DATA=new Array();
var TCP_DATA=new Array();
var GEOIP_DATA={"keys":[],};
var SRC_COLORS=new Array();
var MEMORY_DATA=new Array();

var SRC_COUNTS={};
var SRCS=new Array();
SRCS.push("Django");//This reserves the 0th row



//me.MESSAGES_COLOR="#55AAFF";
//me.APACHE_COLOR="#F775FF";
//SRC_COLORS.push(DJANGO_COLOR);

SRC_COLORS.push('#FFCC00');
SRC_COLORS.push('#00AAFF');
SRC_COLORS.push("#AA00CC");
SRC_COLORS.push("#00FFAA");
SRC_COLORS.push("#0000DD");
SRC_COLORS.push("#ffffff");
SRC_COLORS.push("#AA00CC");
SRC_COLORS.push("#33CC22");
SRC_COLORS.push("#3300DD");
SRC_COLORS.push("#00AAFF");
SRC_COLORS.push("#00FFAA");
SRC_COLORS.push("#00FF00");
SRC_COLORS.push("#0000FF");
SRC_COLORS.push("#CC00FF");
SRC_COLORS.push("#dc92ff");
SRC_COLORS.push("#6e9bff");
SRC_COLORS.push("#FF00AA");

var LAST_LOADED=null;
window.spectra=null;
window.traffic=null;
window.memory=null;

new_xhr=function(){
	var xhr=null;
	try{xhr=new ActiveXObject('Msxml2.XMLHTTP');}
	catch(e){
		try{xhr=new ActiveXObject('Microsoft.XMLHTTP');}
		catch(e2){
			try{xhr=new XMLHttpRequest();}
			catch(e3){xhr=null;}
		}
	}
	return xhr;
}

window.mkUnits=function(bps){
	units=[' b/s',' kb/s',' Mb/s',' Gb/s',' Tb/s',' Eb/s'];
	var uidx=0;
	while(bps.length>3){
		bps=bps.slice(0,-3);
		uidx+=1;
	}
	label=bps+units[uidx];
	return label;
}

window.decode=function(str){
	var div = document.createElement('div');
	div.innerHTML = str;
	var decoded=str;
	try{
		decoded = div.firstChild.nodeValue;
	}
	catch(e){;}
	return decoded;
}

window.render_data=function(x){
	var pyld=JSON.parse(window.decode(x));

	//document.getElementById("extra_div").innerHTML=pyld['server_date']+"<br>";

	TCP_DATA=TCP_DATA.concat(pyld['tcp_data']);
	TRAFFIC_DATA=TRAFFIC_DATA.concat(pyld['traffic_data']);
	MEMORY_DATA=MEMORY_DATA.concat(pyld['memory_data']);
	APACHE_DATA=APACHE_DATA.concat(pyld['apache_data']);

	var t0=pyld['t1']-CLIENT_BUFFSIZE;
	var targets=[TRAFFIC_DATA,TCP_DATA,MEMORY_DATA,APACHE_DATA];//me.APACHE_DATA,,me.TCP_DATA,me.DJANGO_DATA,
	var shift_count=0;
	for(var tidx=0;tidx<targets.length;tidx++){
		while(true){
			if(targets[tidx].length==0)break;
			msg=targets[tidx][0].split(",");
			t=parseFloat(msg[0]);
			if(t<t0){
				targets[tidx].shift();
				shift_count+=1;
				//console.log("shift_count:"+shift_count);
			}
			else break;
		}
	}

	//GEOIP
	var keys=pyld['geoip_buffer']['keys'];
	//var d=document.getElementById("details");
	//d.innerHTML="";
	for(var kidx=0;kidx<keys.length;kidx++){
		var key=keys[kidx];
		//d.innerHTML+=key+"<br>";
		try{
			if(GEOIP_DATA['keys'].indexOf(key)<0){
				GEOIP_DATA[key]=pyld['geoip_buffer'][key];
				GEOIP_DATA['keys'].push(key);
				//plot the new destination on map overlay:

				var p2=[parseFloat(GEOIP_DATA[key]['longitude']),parseFloat(GEOIP_DATA[key]['latitude'])];
				window.draw_radial(HOME_LONLAT,p2);

				//var p2 = ol.proj.transform(p2, 'EPSG:4326', 'EPSG:3857');
				rdiv=window.draw_icon(HOME_LONLAT,p2,"client_marker");
				var rdiv_title=key+" "+GEOIP_DATA[key]['src_port']+" -> "+GEOIP_DATA[key]['dest_port']+" ";

				for(var gkidx=0;gkidx<GEOIP_DATA[key]['keys'].length;gkidx++){
					//console.log("gkidx="+gkidx);
					var gkey=GEOIP_DATA[key]['keys'][gkidx];
					//console.log("gkey="+gkey);
					rdiv_title+=gkey+":"+GEOIP_DATA[key][gkey]+" ";
				}
				//rdiv.title=key+" "+GEOIP_DATA[key]['city'];
				rdiv.title=rdiv_title;
			}
		}catch(e){console.log(e);}
	}
	msg="MEMORY:"+MEMORY_DATA.length;

	//document.getElementById("message_div").innerHTML=msg;
	//document.getElementById("message_div").style.height="200px";

	/*
	LAST_IDX=MEMORY_DATA.length-1;
	if(LAST_IDX>=0){
		MD=MEMORY_DATA[LAST_IDX];
		msg="MEMORY:"+MD[2]+"/"+MD[3]+", "+MD[4]+"/"+MD[5];
		document.getElementById("message_div").innerHTML=msg;
	}
	*/
	msg="Traffic: "+TRAFFIC_DATA.length+"<br>TCP: "+TCP_DATA.length+"<br>";
	//document.getElementById("message_div").innerHTML=msg;

	msg="Traffic: "+TRAFFIC_DATA.length+"<br>TCP: "+TCP_DATA.length+"<br>";
	//document.getElementById("tcp_div").innerHTML=msg;

	//window.traffic_stuff(pyld['t1']);
	var t1=pyld['t1'];
	var t0=t1-CLIENT_BUFFSIZE;
	window.traffic.render_data(t0,t1,TRAFFIC_DATA);

	window.memory.render_data(t0,t1,MEMORY_DATA);

	try{

//NEED:send to spectra instead
//		window.tcp_stuff(pyld['t1']);

		/////////////////////////////////////////
		//START: tcp_stuff relocated here
		//var SRCS=new Array();
		//SRCS.push("Django");//This reserves the 0th row

		var SRC_COUNTS={};
		for(var sidx=0;sidx<SRCS.length;sidx++){
			try{SRC_COUNTS[SRCS[sidx]]=0;}
			catch(e){;}
		}
		for(var tidx=0;tidx<TCP_DATA.length;tidx++){

			var msg=TCP_DATA[tidx].split(",");
			var t=parseFloat(msg[0]);

			var src_device=msg[2];
			var dst_device=msg[3];
			var dst_port=msg[4];

			if(src_device=="0.0.0.0")continue;
			if(dst_device=="0.0.0.0")continue;

			try{
				dummy=SRCS.indexOf(src_device);
				if(dummy<0){
					SRCS.push(src_device);
					SRC_COUNTS[src_device]=1;
				}
				else{
					SRC_COUNTS[src_device]+=1;
				}
			}catch(e){;}


			try{
				dummy=SRCS.indexOf(dst_device);
				if(dummy<0){
					SRCS.push(dst_device);
					SRC_COUNTS[dst_device]=1;
				}
				else{
					SRC_COUNTS[dst_device]+=1;
				}
			}catch(e){;}

		}
		SRC_COUNTS['Django']=DJANGO_DATA.length;

		var SORTED_SRCS=new Array();
		for(var sidx=0;sidx<SRCS.length;sidx++){
			if(SRC_COUNTS[SRCS[sidx]]>0){
				SORTED_SRCS.push(SRCS[sidx]);
			}
		}

		var p=document.getElementById("lhs_panel");
		p.innerHTML="";
		for(var sidx=0;sidx<SORTED_SRCS.length;sidx++){
			dummy=document.createElement("div");
			b=document.createElement("b");
			skey=SORTED_SRCS[sidx];
			t=document.createTextNode(SORTED_SRCS[sidx]+" @ "+GEOIP_DATA[skey]['src_port']+" -> "+GEOIP_DATA[skey]['dest_port']+" "+GEOIP_DATA[skey]['city']+", "+GEOIP_DATA[skey]['metro_code']+", "+GEOIP_DATA[skey]['country_name']);
			b.appendChild(t);

			b.id=SORTED_SRCS[sidx];
			b.className="traffic_src";
			b.style.color=SRC_COLORS[sidx];

			//NEED:
			//b.addEventListener("click",load_channelCB,false);

			dummy.appendChild(b);

			b=document.createElement("b");
			b.style.color="#CCCCCC";
			t=document.createTextNode(" ("+SRC_COUNTS[SORTED_SRCS[sidx]]+")");
			b.appendChild(t);
			dummy.appendChild(b);
			dummy.style.position="absolute";

			p.appendChild(dummy);
			p.appendChild(document.createElement("br"));
		}

		var ap=document.getElementById("apache_panel");
		ap.innerHTML="";
		for(var aidx=0;aidx<APACHE_DATA.length;aidx++){
			ap.innerHTML+=APACHE_DATA[aidx]+"<br>";
		}

		//END: tcp_stuff relocated here
		/////////////////////////////////////////

		var t1=pyld['t1'];
		var t0=t1-CLIENT_BUFFSIZE;

		window.spectra.render_data(t0,t1,TCP_DATA,SORTED_SRCS,SRC_COLORS);



	}catch(e){console.log("error calling tcp_stuff:"+e);}

}

window.update=function(){
	xhr=new_xhr();
	xhr.onreadystatechange=function(){
		if(xhr.readyState==4){
			if(xhr.status==200){
				try{
					window.render_data(xhr.responseText);
					if(RUNNING==true){
						setTimeout("window.update()",TIMEOUT);
					}
				}catch(e){
					console.log(e)
					if(RUNNING==true){
						setTimeout("window.update()",TIMEOUT);
					}
				}
			}
		}
	}
	xhr.open('Get',"/lanwatch?get_data",true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send("");
}

window.remake_buttons=function(ar,d){
	if(ar<1){
		d.style.height=(window.innerHeight*(1.-LAYOUT['division'])-H2_HEADER)+"px";
	}
	else{
		d.style.height=(window.innerHeight-H2_HEADER)+"px";
	}
	d.innerHTML="";//this is critical!

	var t=document.createElement("table");
	t.style.align="top";

	//TRAFFIC
	var w_traffic=h_traffic=null;
	if(ar<=1){
		w_traffic=window.innerWidth;
		h_traffic=(window.innerHeight*(1.-LAYOUT['division'])-H2_HEADER)/3.;
	}
	else{
		w_traffic=window.innerWidth*(1.-LAYOUT['division']);
		h_traffic=(window.innerHeight-H2_HEADER)/3.;
	}
	window.traffic=new Traffic();
	window.traffic.set_size(w_traffic,h_traffic);
	r=t.insertRow(-1);
	c=r.insertCell(-1);
	c.appendChild(window.traffic.get_canvas());
	window.traffic.render_size("#FFFFFF");

	//SPECTRA
	var w_spectra=h_spectra=null;
	if(ar<=1){
		w_spectra=window.innerWidth;
		h_spectra=(window.innerHeight*(1.-LAYOUT['division'])-H2_HEADER)/3.;
	}
	else{
		w_spectra=window.innerWidth*(1.-LAYOUT['division']);
		h_spectra=(window.innerHeight-H2_HEADER)/3.;
	}
	window.spectra=new Spectra();
	window.spectra.set_size(w_spectra,h_spectra);
	r=t.insertRow(-1);
	c=r.insertCell(-1);
	c.appendChild(window.spectra.get_canvas());
	window.spectra.render_size("#FFFFFF");


	//MEMORY
	var w_memory=h_memory=null;
	if(ar<=1){
		w_memory=window.innerWidth;
		h_memory=(window.innerHeight*(1.-LAYOUT['division'])-H2_HEADER)/3.;
	}
	else{
		w_memory=window.innerWidth*(1.-LAYOUT['division']);
		h_memory=(window.innerHeight-H2_HEADER)/3.;
	}
	window.memory=new Memory();
	window.memory.set_size(w_memory,h_memory);
	r=t.insertRow(-1);
	c=r.insertCell(-1);
	c.appendChild(window.memory.get_canvas());
	window.memory.render_size("#FFFFFF");


/*
	//MESSAGES
	r=t.insertRow(-1);
	c=r.insertCell(-1);
	var msg_div=document.createElement("div");
	msg_div.style.background="green";
	msg_div.id="message_div";
	c.appendChild(msg_div);
*/
	d.appendChild(t);
}
window.onorientationchange=window.onload=window.onresize=function(e){

	var AR=(1.0*window.innerWidth)/(1.0*window.innerHeight);
	if(AR<1.0)LAYOUT=LAYOUTS['vertical'];
	else LAYOUT=LAYOUTS['horizontal'];

	try{
		var	w_map;
		var h_map;
		if(AR<1.0){
			w_map=1.0*window.innerWidth;
			h_map=window.innerHeight*LAYOUT['division'];
		}
		else{
			w_map=window.innerWidth*LAYOUT['division'];
			h_map=window.innerHeight-H2_HEADER;
		}

		document.getElementById("c00").style.width=w_map+"px";
		document.getElementById("c00").style.height=h_map+"px";
		document.getElementById("map_div").style.width=w_map+"px";
		document.getElementById("map_div").style.height=h_map+"px";

		var button_cell;
		if(AR<1.0)
			button_cell=document.getElementById("c10");
		else
			button_cell=document.getElementById("c01");



		var buttons=document.getElementById("buttons").parentNode.removeChild(document.getElementById("buttons"));
		button_cell.appendChild(buttons);

		window.remake_buttons(AR,buttons);

		var msg="W="+window.innerWidth+"<br>H="+window.innerHeight+"<br>AR="+AR.toString().slice(0,4);
		//document.getElementById("message_div").innerHTML=msg;

		var msg="W="+window.innerWidth+"<br>H="+window.innerHeight+"<br>AR="+AR.toString().slice(0,4);
		//document.getElementById("tcp_div").innerHTML=msg;

	}catch(e){console.log(e);}

	document.getElementById("content_table").style.height=(window.innerHeight)+"px";

	THE_MAP.updateSize();

	THE_MAP.render();

	var lbd=document.getElementById("map_div");
	var lbdr=lbd.getBoundingClientRect();
	var lhs_panel=document.getElementById("lhs_panel");
	lhs_panel.style.top=lbdr.top+"px";
	lhs_panel.style.left=lbdr.left+"px";
	lhs_panel.style.width=lbdr.width+"px";
	lhs_panel.style.height=lbdr.height+"px";
	//document.getElementById("c01").appendChild(lhs_panel);

	var apache_panel=document.getElementById("apache_panel");
	apache_panel.style.top=lbdr.top+"px";
	apache_panel.style.left=lbdr.left+"px";
	apache_panel.style.width=lbdr.width+"px";
	apache_panel.style.height=lbdr.height+"px";


	var aux_panel=document.getElementById("aux_panel");
	aux_panel.style.top=lbdr.top+"px";
	aux_panel.style.left=lbdr.left+"px";
	aux_panel.style.width=lbdr.width+"px";
	aux_panel.style.height=lbdr.height+"px";

}

$(document).ready(function(){

	var lhs_panel=document.createElement("div");
	lhs_panel.id="lhs_panel";
	lhs_panel.className="lhs";
	document.getElementById("c00").appendChild(lhs_panel);

	var apache_panel=document.createElement("div");
	apache_panel.id="apache_panel";
	apache_panel.className="apache";
	document.getElementById("c00").appendChild(apache_panel);

	var aux_panel=document.createElement("div");
	aux_panel.id="aux_panel";
	aux_panel.className="aux";
	document.getElementById("c00").appendChild(aux_panel);

	var c1,c1x;
	c1=HOME_LONLAT;
	c1x = ol.proj.transform(c1, 'EPSG:4326', 'EPSG:3857');

	THE_MAP = new ol.Map({
		target: 'map_div',
		layers: [
		//	new ol.layer.Tile({source:new ol.source.MapQuest({layer:'sat'})})//sat,osm
			new ol.layer.Tile({source:new ol.source.OSM()})
		],

		view: new ol.View({
			center:c1x,
			zoom:2,
		}),
	});

	rdiv=window.draw_icon(c1,c1,"home_marker");
	rdiv.title="LAN-Watch Location";

	//lanwatch_footer buttons
	var runB=document.createElement("div");
	runB.className="ui-corner-all interface_button";
	runB.id="runB";
	runB.innerHTML="RUN";

	var lhsB=document.createElement("div");
	lhsB.className="ui-corner-all interface_button";
	lhsB.id="lhsB";
	lhsB.innerHTML=">";

	var apacheB=document.createElement("div");
	apacheB.className="ui-corner-all interface_button";
	apacheB.id="apacheB";
	apacheB.innerHTML=">";
/*
	var auxB=document.createElement("div");
	//auxB.className="ui-corner-all interface_button";
	auxB.className="auxB ui-btn ui-btn-inline ui-mini ui-corner-all";
	auxB.id="auxB";
	//auxB.innerHTML=">";
*/
	//square buttons
	var l_button=H_BUTTON;
	runBdiv=document.createElement("div");
	runBdiv.id="runBdiv";
	runBdiv.title="Map Unlocked";
	runBdiv.className="runBdiv ui-corner-all interface_button";
	runBdiv.style.height=l_button+"px";
	runBdiv.style.width=l_button+"px";
	runBdiv.style.align="center";
	runBdiv.style.textAlign="center";
	runBdiv.style.background=UNLOCKED_COLOR;

	runB=document.createElement("input");
	runB.type="button";
	runB.id="runB";
	runB.title="Run";
	runB.className="ui-corner-all interface_button";
	runB.setAttribute("data-iconpos","notext");
	runB.setAttribute("data-icon","power");
	runBdiv.appendChild(runB);
	document.getElementById("footer_row").insertCell(-1).appendChild(runBdiv);

	//LHS PANEL
	lhsBdiv=document.createElement("div");
	lhsBdiv.id="lhsBdiv";
	lhsBdiv.title="Show Overlay";
	lhsBdiv.className="lhsBdiv ui-corner-all interface_button";
	lhsBdiv.style.height=l_button+"px";
	lhsBdiv.style.width=l_button+"px";
	lhsBdiv.style.align="center";
	lhsBdiv.style.textAlign="center";
	lhsBdiv.style.background=UNLOCKED_COLOR;

	lhsB=document.createElement("input");
	lhsB.type="button";
	lhsB.id="lhsB";
	lhsB.title="Map Unlocked";
	lhsB.className="ui-corner-all interface_button";
	lhsB.setAttribute("data-iconpos","notext");
	lhsB.setAttribute("data-icon","carat-r");
	lhsBdiv.appendChild(lhsB);
	document.getElementById("footer_row").insertCell(-1).appendChild(lhsBdiv);


	//APACHE PANEL
	apacheBdiv=document.createElement("div");
	apacheBdiv.id="apacheBdiv";
	apacheBdiv.title="Show Overlay";
	apacheBdiv.className="apacheBdiv ui-corner-all interface_button";
	apacheBdiv.style.height=l_button+"px";
	apacheBdiv.style.width=l_button+"px";
	apacheBdiv.style.align="center";
	apacheBdiv.style.textAlign="center";
	apacheBdiv.style.background=UNLOCKED_COLOR;

	apacheB=document.createElement("input");
	apacheB.type="button";
	apacheB.id="apacheB";
	apacheB.title="Map Unlocked";
	apacheB.className="ui-corner-all interface_button";
	apacheB.setAttribute("data-iconpos","notext");
	apacheB.setAttribute("data-icon","carat-r");
	apacheBdiv.appendChild(apacheB);
	document.getElementById("footer_row").insertCell(-1).appendChild(apacheBdiv);

	//MAPLOCK BUTTON (auxB)
	auxBdiv=document.createElement("div");
	auxBdiv.id="auxBdiv";
	auxBdiv.title="Map Unlocked";
	auxBdiv.className="auxBdiv ui-corner-all interface_button";
	auxBdiv.style.height=l_button+"px";
	auxBdiv.style.width=l_button+"px";
	auxBdiv.style.align="center";
	auxBdiv.style.textAlign="center";
	auxBdiv.style.background=UNLOCKED_COLOR;
	if(MAPLOCKED)
		auxBdiv.style.background=LOCKED_COLOR;


	auxB=document.createElement("input");
	auxB.type="button";
	auxB.id="auxB";
	auxB.title="Map Unlocked";
	auxB.className="ui-corner-all interface_button";
	auxB.setAttribute("data-iconpos","notext");
	auxB.setAttribute("data-icon","lock");
	auxBdiv.appendChild(auxB);

	document.getElementById("footer_row").insertCell(-1).appendChild(auxBdiv);

	$("#runB").click(function(){
		if(RUNNING==true){
			RUNNING=false;
			document.getElementById("runBdiv").style.background=UNLOCKED_COLOR;
		}
		else{
			RUNNING=true;
			document.getElementById("runBdiv").style.background=LOCKED_COLOR;
			window.update();
		}
	});

	$("#lhs_panel").hide();
	$("#lhsB").click(function(){
		if(LHS_EXPANDED==true){
			LHS_EXPANDED=false;
			document.getElementById("lhsBdiv").style.background=UNLOCKED_COLOR;
		}
		else{
			LHS_EXPANDED=true;
			document.getElementById("lhsBdiv").style.background=LOCKED_COLOR;
		}
		$("#lhs_panel").animate({
			width:'toggle'
		},1000,function(){});
	});

	$("#apache_panel").hide();
	$("#apacheB").click(function(){
		if(APACHE_EXPANDED==true){
			APACHE_EXPANDED=false;
			document.getElementById("apacheBdiv").style.background=UNLOCKED_COLOR;
		}
		else{
			APACHE_EXPANDED=true;
			document.getElementById("apacheBdiv").style.background=LOCKED_COLOR;
		}
		$("#apache_panel").animate({
			width:'toggle'
		},1000,function(){});
	});

	//$("#aux_panel").hide();
	$("#auxBdiv").click(function(){
		if(MAPLOCKED==true){
			MAPLOCKED=false;
			document.getElementById("auxBdiv").style.background=UNLOCKED_COLOR;
			document.getElementById("auxB").title="Map Unlocked";
			document.getElementById("auxBdiv").title="Map Unlocked";
		}
		else{
			MAPLOCKED=true;
			document.getElementById("auxBdiv").style.background=LOCKED_COLOR;
			document.getElementById("auxB").title="Map Locked";
			document.getElementById("auxBdiv").title="Map Locked";
		}
		$("#aux_panel").animate({
			width:'toggle'
		},1000,function(){});
	});




	$("#background_div").trigger("create");
	$(window).trigger('resize');
});
window.draw_radial=function(p1,p2){

	var c1=p1;
	var c1x = ol.proj.transform(c1, 'EPSG:4326', 'EPSG:3857');

	var p1,p2,dx,dy,dX,dY;

	//for(var dummy=0;dummy<100;dummy++){

		//p2x=180.*(1.-2.*Math.random());
		//p2y=75.*(1.-2.*Math.random());
		//p2=[p2x,p2y];

		//console.log("p2x="+p2x);

		if(p2[0]>p1[0]+180.){//p1=c1
			dY=p2[1]-p1[1];
			dX=(180.-p2[0])+(180.+p1[0]);
			dx=180.-p2[0];
			dy=dY/dX*dx;
			window.draw_line(p2,[180.,p2[1]-dy]);
			window.draw_line( [-180.,p2[1]-dy],p1);
		}

		else if(p2[0]<c1[0]-180.){
			dY=p2[1]-p1[1];
			dX=(180.-p1[0])+(180.+p2[0]);
			dx=180.+p2[0];
			dy=dY/dX*dx;
			window.draw_line(p1,[180,p2[1]-dy]);
			window.draw_line([-180,p2[1]-dy],p2);
		}
		else{
			window.draw_line(p1,p2);
		}

	//}
/*
	//TEST draw LHS of intl dateline -> las cruces, nm
	for(var dummy=0;dummy<10;dummy++){
		p1=c1;
		p2=[121.,66*(1.-2.*Math.random())];
		dY=p2[1]-p1[1];
		dX=(180.-p2[0])+(180.+p1[0]);
		dx=180.-p2[0];
		dy=dY/dX*dx;
		window.draw_line(p2,[180.,p2[1]-dy]);
		window.draw_line( [-180.,p2[1]-dy],p1);
		window.draw_icon(ol.proj.transform([p2[0]-360,p2[1]], 'EPSG:4326', 'EPSG:3857'),"client_marker");
	}

	for(var dummy=0;dummy<10;dummy++){
		p1=c2;
		p2=[-160.,66*(1.-2.*Math.random())];
		dY=p2[1]-p1[1];
		dX=(180.-p1[0])+(180.+p2[0]);
		dx=180.+p2[0];
		dy=dY/dX*dx;
		window.draw_line(p1,[180,p2[1]-dy]);
		window.draw_line([-180,p2[1]-dy],p2);
		window.draw_icon(ol.proj.transform([p2[0]+360.,p2[1]], 'EPSG:4326', 'EPSG:3857'),"client_marker");
	}
*/

}
window.make_bright_color=function(){
	var hvals=['8','9','A','B','C','D','E','F']
	rval="#";
	for(var dummy=0;dummy<6;dummy++){
		var hidx=parseInt(Math.random()*hvals.length);
		rval+=hvals[hidx];
	}
	return rval;
}

window.draw_line=function(p1,p2){

	var points=[p1,p2];

	for (var i = 0; i < points.length; i++) {
		points[i] = ol.proj.transform(points[i], 'EPSG:4326', 'EPSG:3857');
	}

	var featureLine = new ol.Feature({
		geometry: new ol.geom.LineString(points)
	});

	var vectorLine = new ol.source.Vector({});
	vectorLine.addFeature(featureLine);

	var bright_color="#9999FF";//window.make_bright_color();//"#FFDD00";
	var vectorLineLayer = new ol.layer.Vector({
		source: vectorLine,
		style: new ol.style.Style({
			fill: new ol.style.Fill({ color: bright_color, weight: 1 }),
			stroke: new ol.style.Stroke({ color: bright_color, width: 1 })
		})
	});

	THE_MAP.addLayer(vectorLineLayer);
}

window.draw_icon=function(ctr,p,icon_id){

	if(p[0]>ctr[0]+180)
		p[0]-=360.;

	var mdiv=document.createElement("div");
	mdiv.id=icon_id;
	document.getElementById("map_div").appendChild(mdiv);
	var marker = new ol.Overlay({
		position: ol.proj.transform(p, 'EPSG:4326', 'EPSG:3857'),
		positioning: 'center-center',
		element: mdiv,
		stopEvent: false
	});
	THE_MAP.addOverlay(marker);
	return mdiv;
}

for(var dummy=0;dummy<20;dummy++){
	SRC_COLORS.push(window.make_bright_color());
}


	{% block js %}
	{% endblock %}

</script>
</head>

<body>

<div id="background_div" class="background" data-role="page" data-theme="b">

<div id="content_table_div">
	<table id="content_table" class="content_table" cellPadding="0" cellSpacing="0">

	<tr>
		<td colSpan="100" id="header_cell" class="header_cell" height="25">
		<div id="lanwatch_header" class="lanwatch_header" data-role="header">
			<div data-role="navbar" data-iconpos="right" >
			<ul>
			<li><button onClick='window.location="/"' data-icon="star" style="color:yellow;">Home</button></li>
			<li><a href="http://lanwatch.readthedocs.org/en/latest/" target="_blank" data-icon="star">Docs</a>
			<li><a href="#instructions_overlay" data-icon="star">Help</a>
			</ul>
			</div>
		</div>
		</td>
	</tr>

	<tr>
		<td id="c00">
		<div id="map_div" class="map_div"></div>
		</td>
		<td id="c01">
		</td>
	</tr>

	<tr>
		<td id="c10">
		<div id="buttons" class="buttons" >BUTTONS</div>
		</td>
		<td id="c11">
		</td>
	</tr>

	<tr>
		<td colSpan="100" id="footer_cell" class="footer_cell">
		<div data-role="footer" id="lanwatch_footer" class="lanwatch_footer" >
			<table><tr id="footer_row"></tr></table>
		</div>
		</td>
	</tr>
	</table>
</div>

</div>

<!--INSTRUCTIONS-OVERLAY-->
<div data-role="page" data-dialog="true" id="instructions_overlay">

	<div data-role="header">
	<h1>Instructions</h1>
	</div>

	<center>
	<a href="http://www.asymptopia.org" target="_blank">
	<div class="ui-corner-all" style="background:#1d1d1d;">
	</div>
	</a>
	</center>


	<div data-role="main" class="ui-content">

	<center>
	<h3>LAN-Watch</h3>
		<div>
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
			</a>
		</div>
	</center>

	<ul>
		<li> Control gross traffic and tcpdump separately
		<li> Should it use a database?  flatfile?
	</ul>
	</div>
	</div>

</body>

</html>
