<html>
<head>
<title>LAN-Watch</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" type="text/css" href="/static/xtcpd/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/xtcpd/css/traffic.css">
<link rel="stylesheet" type="text/css" href="/static/xtcpd/css/roll_up_div.css">
<link rel="stylesheet" type="text/css" href="/static/xtcpd/css/lanwatch.css">

<link rel="stylesheet" type="text/css" href="/static/xtcpd/css/ol.css">

<script src="/static/stcpd/js/HackTimer.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/ol.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/hammer.min.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/d3.v4.min.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/config.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/util.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/traffic.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/clients.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/spectra.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/spectra2015.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/spectrogram.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/zoom.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/map.js"></script>
<script type="text/javascript" src="/static/xtcpd/js/roll_up_div.js"></script>
<script type="text/javascript">
var RUNNING=false;
var TIMEOUT=5000;
window.traffic_widget=null;
window.clients_widget=null;
window.spectra_widget=null;
window.spectrogram=null;
window.map_widget=null;
window.counter=0;

var toggleRunCB=function(e){
	if(RUNNING==true){
		RUNNING=false;
		$(".runBG").toggleClass('running');
	}
	else{
		RUNNING=true;
		$(".runBG").toggleClass('running');
		update();
	}
}
var clearCB=function(e){
		console.log("clearCB");
		window.traffic_widget.clear();
		window.spectra_widget.clear();
		window.spectrogram.clear();
		window.clients_widget.clear();
		window.map_widget.clear();
}
var setup=function(){
	console.log('setup');
	window.clients_widget=new ClientsDaemonUI();
	console.log("window.clients_widget.data "+window.clients_widget.data);
	window.traffic_widget=new TrafficDaemonUI().setup();
	window.spectra_widget=new SpectraDaemonUI();
	window.spectrogram=new Spectrogram();

	var bcr=document.getElementById("theCarousel").getBoundingClientRect();
	console.log(bcr);

	window.spectra2015=new Spectra2015();
	window.spectra2015.set_size(bcr.width-100,bcr.height/4.);
	document.getElementById('spectra2015_background').appendChild(window.spectra2015.get_canvas());
	window.spectra2015.render_size("#FFFFFF");

	window.spectra_widget.setup();
//	window.spectrogram.setup();
	window.map_widget.map.render();

//	d3.selectAll("#theCarousel").style('background-color',mkrandomcolor());
	d3.selectAll("#mapcover")
		.style("width",parseInt(bcr.width));

	console.log("top_menu");
	d3.selectAll("#top_menu")
		.style("width",parseInt(bcr.width));

	console.log("menuB");
	d3.selectAll(".menuB")
		.style("width","50px")
		.style("height","50px");

//	d3.selectAll("#clients_status")
//		.style("height",parseInt(bcr.height*0.10))
	console.log("clients_div");
	d3.selectAll("#clients_div")
		.style("height",parseInt(bcr.height*0.60))

	console.log("selectra2");
	d3.selectAll("#selectra2")
		.style("height",parseInt(bcr.height))

//	update();
}
var init=function(e){
	console.log("init");
	window.map_widget=new Map('mapdiv');
	//window.setTimeout("setup()",3000);
	setup();
	var hammertime = new Hammer(document.getElementById("mapcover"));
	hammertime.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
	hammertime.on('swipedown', function(ev) {
		$("#top_menu").toggleClass("show");}
	);
	hammertime.on('swipeup', function(ev) {
		$("#top_menu").toggleClass("show");}
	);

	var carhammer = new Hammer(document.getElementById("theCarousel"));
	carhammer.on('swipeleft', function(ev){
		$("#theCarousel").carousel("next");
		d3.selectAll("#theCarousel").style('background-color',"#333333");
	});
	carhammer.on('swiperight', function(ev){
		$("#theCarousel").carousel("prev");
		d3.selectAll("#theCarousel").style('background-color',"#333333");
	});
}
console.log("end of javascript");
</script>
</head>

<body style="background-color:gray;">
<div id="force360x640" style="width:360;height:640;">
<div id="layout" class="container">
	<div class="row">

<div id="top_menu" class="top_menu show">
<table><tr><td>
<div class="menuBG">
<img id="clearB" class="menuB" type="button" src="/static/xtcpd/img/clear.png" onclick="window.map_widget.clear()"></img>
</div>
</td><td>
<div class="layersBG">
<img id="dummyB" class="menuB" type="button" src="/static/xtcpd/img/layers.png" onclick="window.map_widget.layersCB()"></img>
</div>
</td><td>
<div class="menuBG">
<img id="ctrB" class="menuB" type="button" src="/static/xtcpd/img/center.png" onclick="window.map_widget.flyhome()"></img>
</div>
</td><td>
<div class="runBG">
<img id="runB" class="menuB" type="button" src="/static/xtcpd/img/running.png" onclick="toggleRunCB()"></img>
</div>
</td><td>
<div class="menuBG">
<img id="flyB" class="menuB" type="button" src="/static/xtcpd/img/airplane.png" onclick="window.map_widget.flyin3()"></img>
</div>
</td><td>
<div class="menuBG">
<img id="infoB" class="menuB" type="button" src="/static/xtcpd/img/info.png" onclick="window.map_widget.full_info()"></img>
</div>
</td><td>
<div class="menuBG">
<img id="dummyB2" class="menuB" type="button" src="/static/xtcpd/img/clear.png" onclick=""></img>
</div>
</td></tr>
</table>
</div>

	<div id="mapcover" class="mapcover"></div>
	<div id="mapdiv" class="mapdiv"></div>

	<div id="statusbar" class="statusbar"></div>
	<div id="theCarousel" class="carousel page-header slide col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ride="carousel" data-interval=false>
	<div class="carousel-inner">
		<div class="item active">
		<div class="slide1">
			<div id="selectra2">
			</div>
		</div>
		</div>

		<div class="item "><div class="slide2">
			<div id="spectra2015_vspace"></div>
			<center>
			<div id="spectra2015_div">
				<div id="spectra2015_background" class="svg_background"></div>
			</div>
			</center>
			<div id="traffic">
				<div id="traffic_background" class="svg_background"></div>
			</div>
<!--
			<div id="spectrogram">
				<div id="spectrogram_background" class="svg_background"></div>
			</div>
-->
		</div></div>

		<div class="item"><div class="slide3">
				<div id="clients">
					<table id="clients_table" width="100%"></table>
				</div>
		</div></div>

	</div><!--carousel-inner-->
	</div><!--theCarousel-->
	</div><!--row-->


	<div id="popup" class="ol-popup">
		<a href="#" id="popup-closer" class="ol-popup-closer"></a>
		<div id="xpopup"></div>
	</div>

</div><!--container-->
</div><!--force360x640-->
<script>init();</script>
</body>
</html>
