{% extends "members/parent/m_parent_base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block meta %}
{% endblock %}

{% block style %}
<style type="text/css">

	body{margin:0px;}
	table.borderless{cell-padding:0;cell-spacing:0;border-collapse:collapse;border-spacing:0px;}
	table.bordered{cell-padding:15;cell-spacing:15;}
	
	div.background{text-shadow:none;background-size:100% 100%;background-position:center;}
	div.info{text-shadow:none;height:50px;}
	div.info_div{text-shadow:none;text-align:center;}
	td.info_cell{vertical-align:top;}
	
	td.canvas1_cell{width:100%;vertical-align:top;}
	td.canvas2_cell{width:100%;vertical-align:top;}
	
	td.spectrogram_cell{}
	div.spectrogram{text-shadow:none;width:100%;}
</style>
{% endblock %}

{% block jsimport %}
<script type="text/javascript" src="/static/router/orch_widget.js"></script>
{% endblock %}

{% block js %}
window.orch=null;
window.mapimage=new Image();
window.mapimage.src="{{mapimage}}";
draw_map_image=function(){
	
	//NOTE: setting these causes dy ->parent div ..impossible to make layout calculations until these set
	
	var c1c=document.getElementById("canvas1_cell");
	var c1=document.getElementById("canvas1");
	var ctx1=c1.getContext("2d");
	ctx1.canvas.width  = c1c.clientWidth;
	ctx1.canvas.height  = c1c.clientHeight;

	window.mapimage.width=c1.clientWidth;
	window.mapimage.height=c1.clientHeight;
	
	var HOME=[-106.,32.];
	ctx1.drawImage(window.mapimage,0-HOME[0]*window.mapimage.width/360.,0,window.mapimage.width,window.mapimage.height);
	ctx1.drawImage(window.mapimage,-1*window.mapimage.width-1*HOME[0]*window.mapimage.width/360.,0,window.mapimage.width,window.mapimage.height);


	var c2c=document.getElementById("canvas2_cell");
	var c2=document.getElementById("canvas2");
	var ctx2=c2.getContext("2d");
	ctx2.canvas.width  = c2c.clientWidth;
	ctx2.canvas.height  = c2c.clientHeight;


}
window.onload=window.onresize=function(e){
	
	var bgd=document.getElementById("background_div");
	bgd.style.width=window.innerWidth+"px";
	bgd.style.height=window.innerHeight+"px";
	
	var iP1=document.getElementById("info_panel1");
	
	var iP2=document.getElementById("info_panel2");
	iP2=iP2.parentNode.removeChild( iP2 );

	var iD=document.getElementById("info_div");
	iD=iD.parentNode.removeChild( iD );
	
	var c1c=document.getElementById("canvas1_cell");
	var c1=document.getElementById("canvas1");

	var aspect=window.innerWidth/window.innerHeight;
	
	if(aspect<1){
		document.getElementById("info_bottom_cell").appendChild(iD);
		document.getElementById("info_panel_cell_right").appendChild(iP2);
		document.getElementById("info_panel_cell_right").style.width="50%";
		
		iD.style.width="100%";

		document.getElementById("canvas1_cell").style.height=parseInt(bgd.clientHeight*0.3)+"px";
		document.getElementById("canvas2_cell").style.height=parseInt(bgd.clientHeight*0.25)+"px";
		document.getElementById("spectrogram_cell").style.height=parseInt(bgd.clientHeight*0.15)+"px";
		document.getElementById("info_bottom_cell").style.height=parseInt(bgd.clientHeight*0.3)+"px";
		draw_map_image();
		//
		var sgc=document.getElementById("spectrogram_cell");
		var ytop=c1c.getBoundingClientRect().top;
		var ybot=sgc.getBoundingClientRect().top+sgc.getBoundingClientRect().height;
		var dy=ybot-ytop;
		iD.style.height=(window.innerHeight-dy)+"px";

	}
	else{
		document.getElementById("info_right_cell").appendChild(iD);
		document.getElementById("info_panel_cell_bottom").appendChild(iP2);
		document.getElementById("info_panel_cell_right").style.width="0px";

		iD.style.height=bgd.clientHeight+"px";
		iD.style.width=parseInt(window.innerWidth/3.)+"px";
		
		document.getElementById("canvas1_cell").style.height=parseInt(bgd.clientHeight*0.4)+"px";
		document.getElementById("canvas2_cell").style.height=parseInt(bgd.clientHeight*0.35)+"px";
		document.getElementById("spectrogram_cell").style.height=parseInt(bgd.clientHeight*0.2)+"px";
		document.getElementById("info_bottom_cell").style.height="0px";
		
		draw_map_image();
		//
		var sgc=document.getElementById("spectrogram_cell");
		var ytop=c1c.getBoundingClientRect().top;
		var ybot=sgc.getBoundingClientRect().top+sgc.getBoundingClientRect().height;
		var dy=ybot-ytop;
		iD.style.height=dy+"px";

	}
	

}
$(document).ready(function(){
	$("#background_div").trigger("create"); 
	$("div[data-role='content']").trigger("create").trigger( 'updatelayout' );
	$(window).resize();
	
	window.orch=new OrchWidget();
	
	$("#engageB").click(function(){
		window.orch.engageCB();
	});
	
	$("#themeB").click(function(){
		var f=document.forms['overview_form'];
		ipyld=document.createElement("input");
		ipyld.type="hidden";
		ipyld.name="pyld";
		ipyld.id="pyld";
		
		var theme="{{theme}}";
		if(theme=="a")theme="b";
		else theme="a";
		
		post_data_object={
			"action":"theme",
			"theme":theme,
		};
		ipyld.value=JSON.stringify(post_data_object);
		f.appendChild(ipyld);
		f.submit();
	});
	
});

{% endblock %}

{% block content %}
	<table id="overview_table" class="borderless" style="width:100%;">
		
		<tr id="overview_table_header_row" >
			<td style="height:0px;" colSpan="2"></td>
		</tr>
	
		<tr id="overview_table_content_row">
			
			<td id="canvas1_cell" class="canvas1_cell">
				<canvas class="canvas1" id="canvas1"></canvas>
			</td> 
			
			<td rowSpan="4" id="info_right_cell" class="info_cell">
				
				
				<!-- THIS GETS RE-PARENTED AT RESIZE-->
				<div class="info_div" id="info_div">
					<table width="100%" class="bordered">
						
						<tr>
							<td colSpan="2">
									<div data-role="header" data-theme="{{theme}}">
        								<input  id="engageB" type="button" data-icon="gear" data-iconpos="notext"></input>
										<input  id="themeB" type="button" data-icon="star" data-iconpos="notext"></input>
										<input  id="homeB" type="button" data-icon="home" data-iconpos="notext"  onClick=window.location="/services/overview"></input>
									</div>
							</td>
						</tr>
						
						
						<tr>
							<td id="info_panel1_cell"  class="info_cell">
								<div id="info_panel1" class="info"></div>
							</td>
							<td rowSpan="2" id="info_panel_cell_right" class="info_cell" style="background:navy;vertical-align:top;">
								
							</td>
							
						</tr>
						
						<tr>
							<td id="info_panel_cell_bottom" class="info_cell" >
								<div id="info_panel2" class="info"></div>
							</td>
						</tr>
						
					</table>
				</div>
			
			
			
			</td>
		
		</tr>
		
		<tr>
			<td id="canvas2_cell" class="canvas2_cell" >
				<canvas class="canvas2" id="canvas2"></canvas>
			</td>
		</tr>
		
		<tr id="spectrogram_row">
			<td id="spectrogram_cell" class="spectrogram_cell" style="width:100%;">
				<div id="spectrogram_div" class="spectrogram"></div>
			</td>
		</tr>
		
		<tr  id="overveiw_table_info_row">
			<td id="info_bottom_cell" class="info_cell" style="height:0px;">
			</td>
		</tr>
		
		<tr id="overview_table_footer_row" colSpan="2"></tr>
	
	</table>
	
	<form id="overview_form" action="" method="post" >
		{% csrf_token %}
	</form>
	
{% endblock %}
